
<div class="d-flex justify-content-between align-items-center">
  <h1 class="my-4">Routine Fitness</h1>


   <div class="d-flex gap-3">
    <a routerLink="/routines/add">
      <button class="btn btn-success btn-primary">
        <i class="fa-solid fa-plus"></i> Ajouter une routine
      </button>
    </a>

    
    <button class="btn btn-info" (click)="resetAll()"><i class="fa-solid fa-rotate-left"></i> Tout relancer</button>
    <button class="btn btn-warning" (click)="filtre == 'asc' ? filtre = 'desc' : filtre='asc'; chargerRoutines()">
      @if (filtre == 'asc') {
        <i class="fa-solid fa-sort-up"></i>
      }@else {
        <i class="fa-solid fa-sort-down"></i> 
      }

      Date de création</button>



  </div>
</div>

<div class="btn-group mb-2" role="group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [checked]="triStatus === Status.ACTIVE" />
  <label
    class="btn btn-outline-primary"
    for="btnradio2"
    (click)="triStatus = Status.ACTIVE; chargerRoutines()"
    >Actives</label
  >

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"  [checked]="triStatus === Status.INACTIVE"/>
  <label
    class="btn btn-outline-primary"
    for="btnradio3"
    (click)="triStatus = Status.INACTIVE; chargerRoutines()"
    >Inactives</label
  >

  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" [checked]="triStatus === undefined" />
  <label
    class="btn btn-outline-primary"
    for="btnradio1"
    (click)="triStatus = undefined; chargerRoutines()"
    >Toutes</label
  >
</div>
@if (statusChargement() == StatusChargement.SUCCES) {

<app-routine-list
  [triStatus]="triStatus"
  [routines]="listeRoutines"
  (routineChanged)="supprimerRoutineListe($event)"
></app-routine-list>
}
@else{

  <app-chargement [status]="statusChargement()"></app-chargement>

}

